<configuration>

    <include resource="logback-application.xml" />
    <include resource="logback-http.xml" />

    <root level="DEBUG">
        <appender-ref ref="application" />
    </root>

    <logger name="http" level="DEBUG" additivity="false">
        <appender-ref ref="http" />
    </logger>
    <logger name="org.flywaydb.core.internal" level="INFO" />
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO" />

</configuration>
