<included>

    <appender name="http-base" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>

        <file>http.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
            <fileNamePattern>http.log.%i.gz</fileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="http" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="http-base"/>
        <queueSize>50000</queueSize>
        <neverBlock>true</neverBlock>
    </appender>

</included>