<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>Best in slot</title>

        <link href="{{ static('styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h2>best in slot</h2>

        {% include "error.jinja2" %}
        {% include "search_line.jinja2" %}

        <form action="/bis" method="post">
            <select name="player" id="player" title="player">
                {% for player in players %}
                    <option>{{ player|e }}</option>
                {% endfor %}
            </select>
            <select name="piece" id="piece" title="piece">
                {% for piece in pieces %}
                    <option>{{ piece|e }}</option>
                {% endfor %}
            </select>
            <input name="is_tome" id="is_tome" title="is tome" type="checkbox"/>
            <input name="action" id="action" type="hidden" value="add"/>
            <input name="method" id="method" type="hidden" value="post"/>
            <input name="add" id="add" type="submit" value="add"/>
        </form>
        <form action="/bis" method="post">
            <select name="player" id="player" title="player">
                {% for player in players %}
                    <option>{{ player|e }}</option>
                {% endfor %}
            </select>
            <input name="bis" id="bis" placeholder="player bis link" title="bis" type="text"/>
            <input name="method" id="method" type="hidden" value="put"/>
            <input name="add" id="add" type="submit" value="add"/>
        </form>

        <table id="result">
            <tr>
                <th>player</th>
                <th>piece</th>
                <th>is_tome</th>
                <th></th>
            </tr>

            {% for item in items %}
                <tr>
                    <td class="include_search">{{ item.player|e }}</td>
                    <td class="include_search">{{ item.piece|e }}</td>
                    <td>{{ item.is_tome|e }}</td>
                    <td>
                        <form action="/bis" method="post">
                            <input name="player" id="player" type="hidden" value="{{ item.player|e }}"/>
                            <input name="piece" id="piece" type="hidden" value="{{ item.piece|e }}"/>
                            <input name="is_tome" id="is_tome" type="hidden" value="{{ item.is_tome|e }}"/>
                            <input name="action" id="action" type="hidden" value="remove"/>
                            <input name="method" id="method" type="hidden" value="post"/>
                            <input name="remove" id="remove" type="submit" value="x"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "export_to_csv.jinja2" %}
        {% include "root.jinja2" %}
        {% include "search.jinja2" %}
    </body>
</html>
