<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>FFXIV loot helper</title>

        <link href="{{ static('styles.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <center>
            <h2><a href="/party" title="party">party</a></h2>
            <h2><a href="/bis" title="bis management">bis</a></h2>
            <h2><a href="/loot" title="loot management">loot</a></h2>
            <h2><a href="/suggest" title="suggest loot">suggest</a></h2>
        </center>
    </body>
</html>
