<html lang="en">
    <head>
        <title>FFXIV loot helper</title>
    </head>

    <body>
        <center>
            <a href="/party" title="party"><h2>party</h2></a>
            <a href="/bis" title="bis management"><h2>bis</h2></a>
            <a href="/loot" title="loot management"><h2>loot</h2></a>
            <a href="/suggest" title="suggest loot"><h2>suggest</h2></a>
        </center>
    </body>
</html>
