<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>Suggest loot</title>

        <link href="{{ static('styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h2>suggest loot</h2>

        {% include "error.jinja2" %}
        {% include "search_line.jinja2" %}

        <form action="/suggest" method="post">
            <select name="piece" id="piece" title="piece">
                {% for piece in pieces %}
                    <option>{{ piece|e }}</option>
                {% endfor %}
            </select>
            <input name="is_tome" id="is_tome" title="is tome" type="checkbox"/>
            <input name="suggest" id="suggest" type="submit" value="suggest"/>
        </form>

        <table id="result">
            <tr>
                <th>player</th>
                <th>bis pieces looted</th>
                <th>total pieces looted</th>
                <th></th>
            </tr>

            {% for player in suggest %}
                <tr>
                    <td class="include_search">{{ player.player|e }}</td>
                    <td>{{ player.loot_count_bis|e }}</td>
                    <td>{{ player.loot_count|e }}</td>
                    <td>
                        <form action="/loot" method="post">
                            <input name="player" id="player" type="hidden" value="{{ player.player|e }}"/>
                            <input name="piece" id="piece" type="hidden" value="{{ item.piece|e }}"/>
                            <input name="is_tome" id="is_tome" type="hidden" value="{{ item.is_tome|e }}"/>
                            <input name="action" id="action" type="hidden" value="add"/>
                            <input name="add" id="add" type="submit" value="add"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "export_to_csv.jinja2" %}
        {% include "root.jinja2" %}
        {% include "search.jinja2" %}
    </body>
</html>
