<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>Party</title>

        <link href="{{ static('styles.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h2>party</h2>

        {% include "error.jinja2" %}
        {% include "search_line.jinja2" %}

        <form action="/party" method="post">
            <input name="nick" id="nick" placeholder="player nick name" title="nick" type="text"/>
            <select name="job" id="job" title="job">
                {% for job in jobs %}
                    <option>{{ job|e }}</option>
                {% endfor %}
            </select>
            <input name="bis" id="bis" placeholder="player bis link" title="bis" type="text"/>
            <input name="priority" id="priority" placeholder="player priority" title="priority" type="number" value="0"/>
            <input name="action" id="action" type="hidden" value="add"/>
            <input name="add" id="add" type="submit" value="add"/>
        </form>

        <table id="result">
            <tr>
                <th>nick</th>
                <th>job</th>
                <th>total bis pieces looted</th>
                <th>total pieces looted</th>
                <th>priority</th>
                <th></th>
            </tr>

            {% for player in players %}
                <tr>
                    <td class="include_search">{{ player.nick|e }}</td>
                    <td class="include_search">{{ player.job|e }}</td>
                    <td>{{ player.loot_count_bis|e }}</td>
                    <td>{{ player.loot_count_total|e }}</td>
                    <td>{{ player.priority|e }}</td>
                    <td>
                        <form action="/party" method="post">
                            <input name="nick" id="nick" type="hidden" value="{{ player.nick|e }}"/>
                            <input name="job" id="job" type="hidden" value="{{ player.job|e }}"/>
                            <input name="action" id="action" type="hidden" value="remove"/>
                            <input name="remove" id="remove" type="submit" value="x"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include "export_to_csv.jinja2" %}
        {% include "root.jinja2" %}
        <script src="/static/table_search.js" type="text/javascript"></script>
    </body>
</html>
